#root {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-section, .summary-section {
  flex: 1;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.summary-section .MuiPaper-root {
  overflow-y: auto;
  width: 500px;
  max-width: 100%;
  box-sizing: border-box;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .summary-section .MuiPaper-root {
    max-height: 250px;
    min-height: 180px;
  }
}
