#root {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.form-section, .summary-section {
  flex: 1;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.summary-section .MuiPaper-root {
  overflow-y: auto;
  width: 500px;
  max-width: 100%;
  box-sizing: border-box;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .summary-section .MuiPaper-root {
    max-height: 250px;
    min-height: 180px;
  }
}

@keyframes mask-text {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.masked-title {
  background: linear-gradient(90deg, #00c6ff, #0072ff, #00c6ff 80%);
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: mask-text 10s linear infinite;
}
